/*http://makandracards.com/makandra/12019-css-emulate-borders-with-inset-box-shadows*/
.elementaryos {
  font-family: "Droid Sans";
}

.elementaryos button,
.elementaryos input[type="reset"],
.elementaryos input[type="button"],
.elementaryos input[type="color"],
.elementaryos input[type="file"]::-webkit-file-upload-button,
.elementaryos input[type="file"].button-only::before {
  min-height: 25px;
  font-size: 12px;
  padding: 0 6px;
  font-family: "Droid Sans";
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);

  background-color: rgb(245, 245, 245);
  background-image: linear-gradient(to bottom,
                                transparent,
                                transparent 50%,
                                rgba(0, 0, 0, 0.04)
                                );

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2.5px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
              inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
              inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
              0 1px 0 0 rgba(255, 255, 255, 0.15);
  color: #333333;
  transition: all 100ms ease-in;
}

.elementaryos button.primary {
  border: solid 1px rgb(56,128,164);
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #5dbced 0%, #45a5e9 100%);
}

.elementaryos button.primary:active {
  border: solid 1px rgb(56,128,164);
  background-image: -webkit-linear-gradient(bottom, #5dbced 0%, #45a5e9 100%);
}

.elementaryos button:active,
.elementaryos input[type="reset"]:active,
.elementaryos input[type="button"]:active,
.elementaryos input[type="file"]:active::-webkit-file-upload-button,
.elementaryos input[type="file"].button-only:active::before {
  /*border: solid 1px rgb(124, 124, 124);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .4);
  background-image: -webkit-linear-gradient(top, rgb(192, 192, 192) 0%, rgb(209, 209, 209) 100%);*/
  background-color: rgba(0, 0, 0, 0.05);
  background-image: none;
  border-color: rgba(0, 0, 0, 0.25);

  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05),
              0 1px 0 0 rgba(255, 255, 255, 0.30);
}

.elementaryos button[disabled],
.elementaryos input[type="reset"][disabled],
.elementaryos input[type="button"][disabled],
.elementaryos input[type="file"][disabled]::-webkit-file-upload-button,
.elementaryos input[type="file"].button-only[disabled]::before {
  color: rgb(156, 156, 156);
  border: solid 1px rgb(199, 199, 199);
  background: rgb(245, 245, 245);
}

/* Inputs */

.elementaryos input,
.elementaryos select {
  font-family: "Droid Sans";
  font-size: 12px;
  outline: none;
}

.elementaryos input[type="date"],
.elementaryos input[type="datetime"],
.elementaryos input[type="month"],
.elementaryos input[type="week"],
.elementaryos input[type="time"],
.elementaryos input[type="email"],
.elementaryos input[type="number"],
.elementaryos input[type="password"],
.elementaryos input[type="tel"],
.elementaryos input[type="text"],
.elementaryos input[type="search"],
.elementaryos input[type="url"] {
  min-height: 23px;
  background: #ffffff;
  box-shadow: inset 0 1.5px 0 0 rgba(224, 224, 224, .4), inset 0 -1px 0 0 rgba(224, 224, 224, .2), inset 1px 0 0 rgba(224, 224, 224, .2), inset -1px 0 0 rgba(224, 224, 224, .2);
  border: 1px solid rgba(0, 0, 0, 0.22);
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  border-radius: 2.5px;
}

.elementaryos input[type="date"]:focus,
.elementaryos input[type="datetime"]:focus,
.elementaryos input[type="month"]:focus,
.elementaryos input[type="week"]:focus,
.elementaryos input[type="time"]:focus,
.elementaryos input[type="email"]:focus,
.elementaryos input[type="number"]:focus,
.elementaryos input[type="password"]:focus,
.elementaryos input[type="tel"]:focus,
.elementaryos input[type="text"]:focus,
.elementaryos input[type="search"]:focus,
.elementaryos input[type="url"]:focus,
.elementaryos select:focus {
  border-color: #3d9bda;
}

.elementaryos input[type="date"][disabled],
.elementaryos input[type="datetime"][disabled],
.elementaryos input[type="month"][disabled],
.elementaryos input[type="week"][disabled],
.elementaryos input[type="time"][disabled],
.elementaryos input[type="email"][disabled],
.elementaryos input[type="number"][disabled],
.elementaryos input[type="password"][disabled],
.elementaryos input[type="tel"][disabled],
.elementaryos input[type="text"][disabled],
.elementaryos input[type="search"][disabled],
.elementaryos input[type="url"][disabled] {
  border-color: rgb(199, 199, 199);
  color: rgb(156, 156, 156);
  box-shadow: none;
}

/* Checkboxes */

.elementaryos input[type="checkbox"] {
  height: 15px;
  width: 15px;
  box-shadow: none;
  background: #f6f6f6;
  border: 1px solid #b9b9b9;
  border-radius: 2px;
}

.elementaryos input[type="checkbox"]:checked {
  background: #45A5E9 url("../images/elementaryos/tick.png") no-repeat center center;
  background-size: contain;
  border-color: #3A8BC5;
}

.elementaryos input[type="checkbox"][disabled] {
  border-color: rgb(199, 199, 199);
  background: #fafafa;
}

/* Switch */

.elementaryos input[type="checkbox"].switch {
  height: 23px;
  width: 46px;
  background: #f6f6f6 url("../images/elementaryos/dot.png") no-repeat left center;
  background-size: contain;
  border: 1px solid #b9b9b9;
  border-radius: 23px;
}

.elementaryos input[type="checkbox"].switch:checked {
  background: url("../images/elementaryos/dot.png") no-repeat right center,
              url("../images/elementaryos/tick.png") no-repeat 8px center,
              #45A5E9;
  background-size: contain, 11px auto;
  border-color: #3A8BC5;
}

.elementaryos input[type="checkbox"].switch[disabled] {
  background: #ffffff url("../images/elementaryos/dot.png") no-repeat left center;
  background-size: contain;
  opacity: 0.8;
  border-color: rgb(199, 199, 199);
}

/* Date & Time */

.elementaryos input[type="time"],
.elementaryos input[type="date"],
.elementaryos input[type="month"],
.elementaryos input[type="week"] {
  padding-right: 0;
}

/* Color */

.elementaryos input[type="color"]::-webkit-color-swatch {
  border: none;
}

/* File */

.elementaryos input[type="file"].button-only {
  overflow: hidden;
}

.elementaryos input[type="file"].button-only::-webkit-file-upload-button {
  display: none;
}

.elementaryos input[type="file"].button-only::before {
  content: "Select some files...";
  display: inline-block;
  -webkit-box-sizing: border-box;
  vertical-align: middle;
  line-height: 23px;
  font-family: "Droid Sans";
  font-size: 12px;
}

/* Number */

.elementaryos input[type="number"] {
  padding-right: 0;
}

.elementaryos input[type="number"]::-webkit-inner-spin-button,
.elementaryos input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  display: inline-block;
  width: 21px;
  height: 21px;
  line-height: 21px;
  padding: 0;
}

/* Radio */

.elementaryos input[type="radio"] {
  height: 15px;
  width: 15px;
  box-shadow: none;
  background: #f6f6f6;
  border: 1px solid #b9b9b9;
  border-radius: 15px;
}

.elementaryos input[type="radio"]:checked {
  background: #45A5E9 url("../images/elementaryos/tick.png") no-repeat center center;
  background-size: 90% auto;
  border-color: #3A8BC5;
}

.elementaryos input[type="radio"][disabled] {
  border-color: rgb(199, 199, 199);
  background: #fafafa;
}

/* Search */

.elementaryos input[type="search"] {
  padding-left: 20px;
  background: url("../images/elementaryos/icon-search.png") no-repeat 6px center;
  background-size: 14px auto;
}

/* Select */

.elementaryos select {
  -webkit-appearance: none;
  min-width: 100px;
  min-height: 23px;
  padding: 0 6px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);

  background: rgb(245, 245, 245);
  background-image: url("../images/elementaryos/select-arrow.png"),
                    linear-gradient(to bottom,
                      transparent,
                      transparent 50%,
                      rgba(0, 0, 0, 0.104)
                    );
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center, 0 0, 0 0;
  background-size: 8px auto, 100% 100%, 100% 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2.5px;
  color: #333333;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.15);
}

.elementaryos select[disabled] {
  color: rgb(156, 156, 156);
  border: solid 1px rgb(199, 199, 199);
  background: rgb(245, 245, 245);
  background-image: url("../images/elementaryos/select-arrow.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 8px auto;
  opacity: 0.8;
}

/* Range */

.elementaryos input[type="range"]::-webkit-slider-runnable-track {
  background: #ffffff;
  border-radius: 6px;
  height: 3px;
  box-shadow: inset 0 1.5px 0 0 rgba(224, 224, 224, .4), inset 0 -1px 0 0 rgba(224, 224, 224, .2), inset 1px 0 0 rgba(224, 224, 224, .2), inset -1px 0 0 rgba(224, 224, 224, .2);
  border: 1px solid rgba(0, 0, 0, 0.22);
}

.elementaryos input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 11px;
  height: 11px;
  background: #ffffff;
  box-shadow: 0px 0px 0.5px 0.5px rgba(0,0,0,0.40);
  border-radius: 11px;
  outline: none;
  margin-top: -4px;
}