* {
  -webkit-box-sizing: border-box;
  vertical-align: middle;
  cursor: default;
}

input, select, textarea {
  outline: none;
}

button,
input[type="file"]::-webkit-file-upload-button,
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="button"],
input[type="range"] {
  -webkit-appearance: none;
  border: none;
}

button,
input[type="file"]::-webkit-file-upload-button,
input[type="reset"],
input[type="button"],
input[type="range"] {
  outline: none;
}

.toolbar > * {
  display: inline-block;
  vertical-align: middle;
}

@import "layouts";