.elementaryos {
  progress {
    -webkit-appearance: none;
    height: 10px;

    &::-webkit-progress-bar {
      background: #ffffff;
      box-shadow: inset 0 1.5px 0 0 rgba(224, 224, 224, .4), inset 0 -1px 0 0 rgba(224, 224, 224, .2), inset 1px 0 0 rgba(224, 224, 224, .2), inset -1px 0 0 rgba(224, 224, 224, .2);
      border: 1px solid rgba(0, 0, 0, 0.22);
    }

    &::-webkit-progress-value {
      background-image: linear-gradient(to bottom, #5dbced 0%, #45a5e9 100%);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.45), inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.15);
    }
  }

  .list {
    padding: 0;
    list-style: none;

    li {
      min-height: 24px;
      background: #ffffff;
      padding: 2px 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-top: solid 1px transparent;
      border-bottom: solid 1px transparent;

      &.selected {
        background-image: linear-gradient(to bottom, #5dbced, #45a5e9);
        border-color: #5296de;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                    inset 0 1px 0 0 rgba(255, 255, 255, 0.15),
                    inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                    0 1px 0 0 rgba(255, 255, 255, 0.15);
        color: #ffffff;
        text-shadow: 0 0.5px 0 rgba(0, 0, 0, 1);
      }
    }
  }

  table {
    border-collapse: collapse;

    thead {
      background: #f0f0f0;

      tr {
        height: 24px;
      }

      th {
        border: solid 1px #c0c0c0;
        border-top: none;
        font-weight: normal;
        text-align: left;

        &:first-child {
          padding-left: 7px;
          padding-right: 7px;
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }

        &.table-header-right {
          text-align: right;
        }
      }
    }

    tbody {
      color: #000000;

      tr {
        height: 24px;
        background: #ffffff;

        &:nth-child(odd) {
          background: #f5f5f5;
        }

        &.selected {
          background-image: linear-gradient(to bottom, #5dbced, #45a5e9);
          border-top: solid 1px #5296de;
          border-bottom: solid 1px #5296de;
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                      inset 0 1px 0 0 rgba(255, 255, 255, 0.15),
                      inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                      0 1px 0 0 rgba(255, 255, 255, 0.15);
          text-shadow: 0 0.5px 0 rgba(0, 0, 0, 1);

          td {
            color: #ffffff;
          }
        }
      }
    }

    th, td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 2px 12px 2px 12px;
    }
  }
}