@import "variables";

.elementaryos {
  font-family: $font-family;
  font-size: $font-size;
  background: #d5d5d5;
  padding: 12px;
}

@import "buttons";
@import "inputs";
@import "toolbar";
@import "controls";
@import "sidebar";