@import "variables";

.macosx {
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  font-size: $font-size;
  background: #ececec;
  padding: 10px;

  h1 {
    font-size: 46px;
    line-height: 1.0625;
    font-weight: 100;
    letter-spacing: -0.02em;
  }

  h2 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 100;
    letter-spacing: -0.008em;
  }

  h3, h4, h5, h6 {
    font-weight: 300;
  }
}

@import "buttons";
@import "inputs";
@import "toolbar";
@import "controls";
@import "sidebar";