.windows10 {
  progress {
    -webkit-appearance: none;
    height: 4px;

    &::-webkit-progress-bar {
      background: rgba(0, 0, 0, .2);
    }

    &::-webkit-progress-value {
      background: #0078D7;
    }
  }

  .progress-ring {
    display: inline-block;
    background: url('../images/windows10/progress-indicator.gif') no-repeat center center;
    background-size: 100% 100%;
    width: 32px;
    height: 32px;

    &.small {
      width: 24px;
      height: 24px;
    }
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      background: #ffffff;
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.selected {
        background: #e6e6e6;
      }
    }
  }

  .table-wrapper {
    .table-body {
      height: calc(100% - 35px);
    }
  }

  table {
    thead {
      tr {
        height: 35px;
      }

      th {
        border: solid 2px #808080;
        border-top: none;
        font-weight: normal;
        text-align: left;

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }

        &.table-header-right {
          text-align: right;
        }
      }
    }

    tbody {
      color: #000000;

      tr {
        height: 35px;
        background: #ffffff;

        &.selected {
          background: #e6e6e6;
        }
      }
    }

    th, td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 4px;
    }
  }
}